/*dasar semua*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f3f1b4;
    color: #333;
    line-height: 1.6;
}

#header {
    background-color: #d0b185;
    text-align: center;
    padding: 20px;
    border-bottom: 4px solid #d9922b;
}

#header h1 {
    color: #004aad;
    margin-bottom: 10px;
}

/* Kutipan */
blockquote {
    background-color: #ffd93b;
    padding: 10px 20px;
    margin: 0 auto;
    width: 100%;
    border-radius: 8px;
    font-style: italic;
    font-size: 15px;
    line-height: 1.5;
}

#soekarno {
    display: block;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

/* Nav */
ul {
    list-style: none;
    text-align: center;
    background-color: #f3f1b4;
    margin: 10px 0;
    padding: 0;
}

ul li {
    display: inline;
    margin: 0 10px;
}

ul li a {
    text-decoration: none;
    color: #702085;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

/* Gambar 1*/
.gambar {
    text-align: center;
    margin: 20px 0;
}

.gambar img {
    width: 150px;
    height: auto;
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* teks */
.isi {
    width: 80%;
    margin: auto;
    text-align: justify;
}

.isi p:first-letter {
    font-size: 32px;
    font-weight: bold;
    color: #004aad;
}

/* Profil dan beternak */
#profil, #beternak {
    width: 80%;
    margin: 20px auto;
    background-color: #f3f1b4;
    padding: 15px 20px;
    border-radius: 8px;
    border-left: 5px solid #004aad;
}

#profil h3, #beternak h3 {
    color: #004aad;
}

/*gamabar bawah */
.koleksi {
    text-align: center;
    margin: 30px 0;
}

.koleksi img {
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

/* Promo */
.promo {
    background-color: #ffefcc;
    text-align: center;
    padding: 20px;
    border-top: 4px solid #d9922b;
}

.promo h2 {
    color: #004aad;
}

.promo strong {
    color: red;
    font-size: 22px;
}

#Wa {
    color: green;
    font-weight: bold;
}

.promo ol {
    list-style: decimal;
    display: inline-block;
    text-align: left;
    margin-top: 10px;
}
