p{
    background-color: lemonchiffon;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    margin: 20px;
    padding: 10px;
}

.tengah{
    text-align: center;
}

img.alpukat{
    border: solid black 2px;
    background-color: lightyellow;
    padding: 10px;
    border-style: dashed dotted double groove;
    border-width: thin medium thickm
    ;

}